<!-- 1. Herda tudo do nosso esqueleto -->
{% extends 'layout_painel.html' %}

<!-- 2. Preenche o bloco do título da aba -->
{% block title %}Clientes{% endblock %}

<!-- 3. Preenche o bloco do cabeçalho da página -->
{% block page_header %}
<div class="page-header__title-group">
    <img src="{{ url_for('static', filename='images/customers_icon.png') }}" class="page-header__icon">
    <h1 class="page-header__title">Clientes</h1>
</div>
{% endblock %}

<!-- 4. Preenche o bloco com a tabela de clientes -->
{% block table_content %}
    <table class="client-table">
        <thead>
            <tr>
                <th><input type="checkbox" aria-label="Selecionar todos"></th>
                <th>ID</th>
                <th>Nome do Cliente</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>DOB</th>
                <th>Bairro</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td><input type="checkbox" aria-label="Selecionar"></td>
                <td>{{ cliente[0] }}</td>
                <td>{{ cliente[1] }}</td> <!-- Nome -->
                <td>{{ cliente[2] }}</td> <!-- Email -->
                <td>{{ cliente[3] }}</td> <!-- Telefone -->
                <td>{{ cliente[4] }}</td> <!-- DOB -->
                <td>{{ cliente[5] }}</td> <!-- Bairro -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
