<!-- 1. Herda tudo do nosso esqueleto -->
{% extends 'layout_painel.html' %}

<!-- 2. Preenche o bloco do título da aba -->
{% block title %}Clientes{% endblock %}

<!-- 3. Preenche o bloco do cabeçalho da página -->
{% block page_header %}
<div class="page-header__title-group">
    <img src="{{ url_for('static', filename='images/customers_icon.png') }}" class="page-header__icon">
    <h1 class="page-header__title">Clientes</h1>
</div>
{% endblock %}

<!-- 4. Preenche o bloco com a tabela de clientes -->
{% block table_content %}
    <table class="client-table">
        <thead>
            <tr>
                <th><input type="checkbox" id="select-all" aria-label="Selecionar todos"></th>
                <th>ID</th>
                <th>Nome do Cliente</th>
                <th>Telefone</th>
                <th>Email</th>
                <th>DOB</th>
                <th>Bairro</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td><input type="checkbox" class="row-checkbox" aria-label="Selecionar"></td>
                <td>{{ cliente[0] }}</td>
                <td>{{ cliente[1] }}</td> <!-- Nome -->
                <td>{{ cliente[2] }}</td> <!-- Email -->
                <td>{{ cliente[3] }}</td> <!-- Telefone -->
                <td class="data-a-formatar">{{ cliente[4] }}</td> <!-- DOB -->
                <td>{{ cliente[5] }}</td> <!-- Bairro -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block modal_content %}
  <div class="modal modal-alvo">
    <div class="modal-conteudo">
      <span class="fechar-modal">&times;</span>
      <h2>Adicionar Novo Cliente</h2>
      <form id="form-adicionar-cliente">
        <label for="nome-cliente">Nome do Cliente:</label>
        <input type="text" id="nome-cliente" name="nome" required>

        <label for="email-cliente">Email:</label>
        <input type="email" id="email-cliente" name="email">

        <label for="telefone-cliente">Telefone:</label>
        <input type="text" id="telefone-cliente" name="telefone">

        <label for="dob-cliente">Data de Nascimento (DOB):</label>
        <input type="date" id="dob-cliente" name="dob">

        <label for="bairro-cliente">Bairro:</label>
        <input type="text" id="bairro-cliente" name="bairro">

        <button type="submit" class="btn-salvar">Salvar Cliente</button>
      </form>
    </div>
  </div>
{% endblock modal_content %}
