{% extends 'layout_painel.html' %}

{% block title %}Vendas{% endblock %}

{% block page_header %}
<div class="page-header__title-group">
    <img src="{{ url_for('static', filename='images/sales_icon.png') }}" class="page-header__icon">
    <h1 class="page-header__title">Vendas</h1>
</div>
{% endblock %}

{% block table_content %}
    <table class="client-table">
        <thead>
            <tr>
                <th><input type="checkbox" aria-label="Selecionar todos"></th>
                <th>ID da Venda</th>
                <th>Cliente</th>
                <th>Data</th>
                <th>Valor Total</th>
                <th>Status do Pagamento</th>
            </tr>
        </thead>
        <tbody>
            <!-- Loop para mostrar os dados das vendas viria aqui -->
        </tbody>
    </table>
{% endblock %}
