{% extends 'layout_painel.html' %}

{% block title %}Serviços{% endblock %}

{% block page_header %}
<div class="page-header__title-group">
    <img src="{{ url_for('static', filename='images/services_icon.png') }}" class="page-header__icon">
    <h1 class="page-header__title">Serviços</h1>
</div>
{% endblock %}

{% block table_content %}
    <table class="client-table">
        <thead>
            <tr>
                <th><input type="checkbox" id="select-all" aria-label="Selecionar todos"></th>
                <th>ID</th>
                <th>Nome do Serviço</th>
                <th>Preço</th>
                <!-- Outras colunas de serviço... -->
            </tr>
        </thead>
        <tbody>
            {% for service in services %}
            <tr>
                <td><input type="checkbox" class="row-checkbox" aria-label="Selecionar"></td>
                <td>{{ service[0] }}</td> <!-- ID -->
                <td>{{ service[1] }}</td> <!-- Nome -->
                <td>{{ service[2] }}</td> <!-- Preço -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}