{% extends 'layout_painel.html' %}

{% block title %}Serviços{% endblock %}

{% block page_header %}
<div class="page-header__title-group">
    <img src="{{ url_for('static', filename='images/services_icon.png') }}" class="page-header__icon">
    <h1 class="page-header__title">Serviços</h1>
</div>
{% endblock %}

{% block table_content %}
    <table class="client-table">
        <thead>
            <tr>
                <th><input type="checkbox" id="select-all" aria-label="Selecionar todos"></th>
                <th>ID</th>
                <th>Nome do Serviço</th>
                <th>Preço</th>
                <!-- Outras colunas de serviço... -->
            </tr>
        </thead>
        <tbody>
            {% for service in services %}
            <tr>
                <td><input type="checkbox" class="row-checkbox"  data-id="{{ service[0] }}" aria-label="Selecionar"></td>
                <td>{{ service[0] }}</td> <!-- ID -->
                <td>{{ service[1] }}</td> <!-- Nome -->
                <td>R$ {{ service[2] }}</td> <!-- Preço -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block modal_content %}
  <div class="modal modal-alvo"> 
    <div class="modal-conteudo">
      <span class="fechar-modal">&times;</span>
      <h2>Adicionar Novo Serviço</h2>
      
      <form id="form-adicionar-servico" class="form-ajax-submit" data-url="/servicos/adicionar">
        
        <label for="nome-servico">Nome do Serviço:</label>
        <input type="text" id="nome-servico" name="nome_servico" placeholder="Ex: Corte Feminino" required>
        
        <label for="preco-servico">Preço (R$):</label>
        <input type="text" id="preco-servico" name="preco" placeholder="Ex: 60.00" required>
        
        <button type="submit" class="btn-salvar">Salvar Serviço</button>
      </form>

    </div>
</div>
{% endblock modal_content %}